.card {
    width: 18rem;
    margin: 1rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 1rem;
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
   
}

.card-text {
    font-size: 1rem;
    color: #666;
    
}